.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem 1rem;
  flex: 0 1 3rem;
}

.App-header h1 {
  margin-bottom: 0.25rem;
}

.App-main {
  padding: 0.25rem 0.5rem;
  flex: 1 1 auto;
}

.App-link {
  cursor: pointer;
  text-decoration: underline;
}

.App-controls {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

.App-controls button:not(:first-child) {
  margin-left: 1rem;
}

.App-link:hover {
  color: #61dafb;
}
