.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
  flex: 0 1 3rem;
}

.App-main {
  flex: 1 1 auto;
}

.App-link {
  color: #61dafb;
}
