.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem 1rem;
  flex: 0 1 3rem;
}

.App-header h1 {
  margin-bottom: 0.25rem;
}

.App-main {
  flex: 1 1 auto;
}

.App-link {
  /* color: #61dafb; */
  cursor: pointer;
}
